header{
text-align: center;
color:rgb(247, 224, 21);
font-size: 45px;
background-image:url(image/lily.jpg);
margin: none;
text-decoration: double;
text-shadow: 30px 5px 10px rgb(157, 183, 42),10px 5px 10px rgb(234, 101, 52);
text-align: 220px;
}
h3{ animation:movetocenter 2s forwards;

}

@keyframes movetocenter{
    0% { transform: translateX(-25%); /* Start from the left */
            }
    100% { transform: translateX(25%); /* Move to the right */
            }
}
.selbut{
    display: flex;
    size: 90px;
    margin-bottom: auto;
    
}
#im1{
    width:500px;
    height: 700px;
    float: right;
    margin-top: 500px;
    margin-right: 200px;
    display:flow-root ;
    margin-left: 20px;
}
h1{
    font-size:50px;
    color:rgb(243, 26, 152);
     text-align: left;
    text-decoration: underline;
   
}
pre{
    font-size:1.5em;
    text-align: left;
}

#sel1{
    width: 250px;
  height: 50px;
  position: relative; bottom: 40px; left: 200px; 
  color: rgb(21, 55, 247);
  position: relative;z-index: 2;
  padding: 10px 20px;

}
body{
    background-color: rgb(243, 226, 226);
}
.footer{
  background:rgb(236, 190, 91);
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0000;
    color: white;
    text-decoration: none;
    border-radius:5px;
    font-family: sans-serif;
  }

  .btn:hover {
    background: #cc0000;
  }
